<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Empresa 1: MMMEX-->
    <add key="GP_1_directorio" value="C:\ContabilidadElectronica\archivosMacEng\paraElSAT\"/>
    <add key="GP_1_directorioDestino" value="C:\ContabilidadElectronica\archivosMacEng\cargadosAGP\"/>
    <add key="GP_1_archivo1" value="catalogo.xml"/>
    <add key="GP_1_archivo2" value="balanza.xml"/>
    <add key="GP_1_archivo3" value="poliza.xml"/>

	  <add key="GP_1_FormatoFecha" value="MM/dd/yyyy"/>
	  
	  <add key="GP_1_TAXSCHID" value="ALL DETAILS"/>
	  <add key="GP_1_SHIPMTHD" value="P-PICKUP"/>
	  
	  <!-- Retenciones -->
	  <add key="GP_1_ret_ISR" value="ISR RETENDIO"/>
	  <add key="GP_1_ret_IVA" value="IVA RETENDIO"/>

	  <!-- Traslados -->
	  <add key="GP_1_tra_IVA0" value="P-EXEMPT"/>
	  <add key="GP_1_tra_IVA11" value="P-VAT 11%"/>
	  <add key="GP_1_tra_IVA16" value="P-VAT"/>
    	  <add key="GP_1_tra_IEPS" value="P-IEPS"/>

	  <!-- impuestos locales traslados -->
	  <add key="GP_1_loctra_ISH" value="P-ISH"/>

    <!-- version GP -->
    <add key="GP_1_version" value="2010"/>
    
    <!-- Empresa 2: MMSER -->
    <add key="GP_2_directorio" value="C:\ContabilidadElectronica\archivosMacESer\paraElSAT\"/>
    <add key="GP_2_directorioDestino" value="C:\ContabilidadElectronica\archivosMacESer\cargadosAGP\"/>
    <add key="GP_2_archivo1" value="catalogo.xml"/>
    <add key="GP_2_archivo2" value="balanza.xml"/>
    <add key="GP_2_archivo3" value="poliza.xml"/>
	  
	  <add key="GP_2_FormatoFecha" value="MM/dd/yyyy"/>
	  
	  <add key="GP_2_TAXSCHID" value="ALL DETAILS"/>
	  <add key="GP_2_SHIPMTHD" value="P-PICKUP"/>
	  
	  <!-- Retenciones -->
	  <add key="GP_2_ret_ISR" value="P-ISR RETENIDO"/>
	  <add key="GP_2_ret_IVA" value="P-IVA RETENIDO"/>

	  <!-- Traslados -->
	  <add key="GP_2_tra_IVA0" value="P-EXEMPT"/>
	  <add key="GP_2_tra_IVA11" value="P-VAT 11%"/>
	  <add key="GP_2_tra_IVA16" value="P-VAT"/>
    	  <add key="GP_1_tra_IEPS" value="P-IEPS"/>

	  <!-- impuestos locales traslados -->
	  <add key="GP_2_loctra_ISH" value="P-ISH"/>

    <!-- version GP -->
    <add key="GP_2_version" value="2010"/>
    
  </appSettings>
  <connectionStrings>
    <add name="GP_1" connectionString="data source=MEMCODB02;initial catalog=MMMEX;integrated security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
    <add name="GP_2" connectionString="data source=MEMCODB02;initial catalog=MMSER;integrated security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>