<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Empresa 1: GILA MEX OPER -->
    <add key="GP_1_directorio" value="C:\proyectos\MexContabilidadElectronica\trunk\src\ContabilidadElectronica\archivos\exportar\"/>
    <add key="GP_1_directorioDestino" value="C:\proyectos\MexContabilidadElectronica\trunk\src\ContabilidadElectronica\archivos\exportados\"/>
    <add key="GP_1_archivo1" value="CT.xml"/>
    <add key="GP_1_archivo2" value="BN.xml"/>
    <add key="GP_1_archivo3" value="PL.xml"/>
    <add key="GP_1_archivo4" value="XC.xml"/>
    <add key="GP_1_archivo5" value="XF.xml"/>

    <add key="GP_1_FormatoFecha" value="MM/dd/yyyy"/>
    
    <add key="GP_1_TAXSCHID" value="ALL DETAILS"/>
    <add key="GP_1_SHIPMTHD" value="P-PICKUP"/>
    
    <!-- Retenciones -->
    <add key="GP_1_ret_ISR" value="C-RETISRD"/>
    <add key="GP_1_ret_IVA" value="C-RETIVA16D"/>
    
    <!-- Traslados -->
    <add key="GP_1_tra_IVA0" value="IVA0D"/>
    <add key="GP_1_tra_IVA11" value="IVA11D"/>
    <add key="GP_1_tra_IVA16" value="IVA16D"/>
    <add key="GP_1_tra_IEPS" value="C-IEPS"/>

    <!-- impuestos locales traslados -->
    <add key="GP_1_loctra_ISH" value="C-ISH"/>

    <!-- version GP -->
    <add key="GP_1_version" value="10"/>
    
    <!-- Empresa 1: GILA MEX OPER -->
    <add key="GP_2_directorio" value="C:\proyectos\MexContabilidadElectronica\trunk\src\ContabilidadElectronica\archivos\exportar\"/>
    <add key="GP_2_directorioDestino" value="C:\proyectos\MexContabilidadElectronica\trunk\src\ContabilidadElectronica\archivos\exportados\"/>
    <add key="GP_2_archivo1" value="catalogo.xml"/>
    <add key="GP_2_archivo2" value="balanza.xml"/>
    <add key="GP_2_archivo3" value="poliza.xml"/>
    <add key="GP_2_archivo4" value="auxiliarCuentas.xml"/>
    <add key="GP_2_archivo5" value="auxiliarFolios.xml"/>

    <add key="GP_2_FormatoFecha" value="dd/MM/yyyy"/>

    <add key="GP_2_TAXSCHID" value="GENERAL"/>
    <add key="GP_2_SHIPMTHD" value="GENERICO"/>
    
    <!-- Retenciones -->
    <add key="GP_2_ret_ISR" value="C-RETISREXTD"/>
    <add key="GP_2_ret_IVA" value="C-RETIVA16D"/>

    <!-- Traslados -->
    <add key="GP_2_tra_IVA0" value="C-IVA0D"/>
    <add key="GP_2_tra_IVA11" value="C-IVA11D"/>
    <add key="GP_2_tra_IVA16" value="C-IVA16D"/>
    <add key="GP_2_tra_IEPS" value="C-IEPS"/>

    <!-- impuestos locales traslados -->
    <add key="GP_2_loctra_ISH" value="C-RETISRD"/>

    <!-- version GP -->
    <add key="GP_2_version" value="2010"/>
  </appSettings>
  <connectionStrings>
    <add name="GP_1" connectionString="data source=10.1.1.15;initial catalog=GMOPE;integrated security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
    <add name="GP_2" connectionString="data source=10.1.1.15;initial catalog=GMOPE;integrated security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>