<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Empresa 1: GILA MEX OPE-->
    <add key="GP_1_directorio" value="C:\GPUsuario\GilaMexOp_ComprasArchivos\"/>
    <add key="GP_1_directorioDestino" value="C:\GPUsuario\GilaMexOp_ComprasArchivos\archivosImportados\"/>
    <add key="GP_1_archivo1" value="catalogo.xml"/>
    <add key="GP_1_archivo2" value="balanza.xml"/>
    <add key="GP_1_archivo3" value="poliza.xml"/>

    <add key="GP_1_FormatoFecha" value="dd/MM/yyyy"/>
    
    <add key="GP_1_TAXSCHID" value="GENERAL"/>
    <add key="GP_1_SHIPMTHD" value="GENERICO"/>
    
    <!-- Retenciones -->
    <add key="GP_1_ret_ISR" value="C-RETISREXTD"/>
    <add key="GP_1_ret_IVA" value="C-RETIVA16D"/>
    
    <!-- Traslados -->
    <add key="GP_1_tra_IVA0" value="C-IVA0D"/>
    <add key="GP_1_tra_IVA11" value="C-IVA11D"/>
    <add key="GP_1_tra_IVA16" value="C-IVA16D"/>

    <!-- impuestos locales traslados -->
    <add key="GP_1_loctra_ISH" value="C-RETISRD"/>

    <!-- version GP -->
    <add key="GP_1_version" value="10"/>
    
    <!-- Empresa 2: GILA MEX SER -->
    <add key="GP_2_directorio" value="C:\GPUsuario\GilaMexSer_ComprasArchivos\"/>
    <add key="GP_2_directorioDestino" value="C:\GPUsuario\GilaMexSer_ComprasArchivos\archivosImportados\"/>
    <add key="GP_2_archivo1" value="catalogo.xml"/>
    <add key="GP_2_archivo2" value="balanza.xml"/>
    <add key="GP_2_archivo3" value="poliza.xml"/>

    <add key="GP_2_FormatoFecha" value="dd/MM/yyyy"/>

    <add key="GP_2_TAXSCHID" value="GENERAL"/>
    <add key="GP_2_SHIPMTHD" value="GENERICO"/>
    
    <!-- Retenciones -->
    <add key="GP_2_ret_ISR" value="C-RETISREXTD"/>
    <add key="GP_2_ret_IVA" value="C-RETIVA16D"/>

    <!-- Traslados -->
    <add key="GP_2_tra_IVA0" value="C-IVA0D"/>
    <add key="GP_2_tra_IVA11" value="C-IVA11D"/>
    <add key="GP_2_tra_IVA16" value="C-IVA16D"/>

    <!-- impuestos locales traslados -->
    <add key="GP_2_loctra_ISH" value="C-RETISRD"/>

    <!-- version GP -->
    <add key="GP_2_version" value="10"/>
    
  </appSettings>
  <connectionStrings>
    <add name="GP_1" connectionString="data source=GILABASRDB01;initial catalog=GMOPE;integrated security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
    <add name="GP_2" connectionString="data source=GILABASRDB01;initial catalog=GMSER;integrated security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>